div{
    background-color: coral;
    height:300px;
    text-align: center;;
}
p{
    color:black;
    font-size: 70px;
}
button{
    background-color: tomato;
    padding:30px;
    transition: 0.5s;
}
button:hover{
    background-color:lightcoral ;
    padding:30px;
}